@media (max-width: 1200px) {
  
   #hero {
    
   }

  .hero-page-container {
    min-height: fit-content;
  }


  .about-page-container{
    min-height: fit-content;
  }

  .about-page-body {
    flex-direction: column;
    height: auto;
  }

  .about-page-body p {
    max-width: 100%;
  }

  
  .skills-software-icons-container img {
      width: 100%; /* Make the image take up 100% of its parent container's width */
      height: auto; /* Maintain the aspect ratio */
      max-width: 100%; /* Ensure the image does not exceed its original size */
      display: block; /* Remove any extra space below the image */
    }
  
    .projects-page-body {

    }
  }
  




  /* For tablets and below */
  @media (max-width: 768px) {

    .nav-elements {
      display: none;
    }

    .resume-button {
      display: none;
    }

    .socials-side-panel {
        display: none;
    }

    .email-side-panel {
        display: none;
    }

    .hero-page-container {
      width: 85%;
      box-shadow: 20px 20px 0px 5px rgba(2, 12, 27, 0.5);
    }

    #about {
      padding-bottom: 0;
    }

    .about-page-container {
      width: 85%;
    }

    .about-page-body {
      flex-direction: column;
    }

    .about-page-body img {
      margin-top: 20px;
      height: auto;
    }



  
    img {
      width: 100%; /* Make the image take up 100% of its parent container's width */
      height: auto; /* Maintain the aspect ratio */
      max-width: 100%; /* Ensure the image does not exceed its original size */
      display: block; /* Remove any extra space below the image */
    }
  
    .projects-page-body {
      display: none;
      /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    }
  }
  







  /* For mobile devices */
  @media (max-width: 480px) {
  
    .hero-page-container {
      width: 95%;
      box-shadow: 0px 0px 0px 1px rgba(2, 12, 27, 0.5);
      
    }

    .about-page-container {
      width: 95%;
      box-shadow: 0px 0px 0px 1px rgba(2, 12, 27, 0.5);
      
    }

    .about-page-body img {
      
    }







  
    img {
      width: 100%; /* Make the image take up 100% of its parent container's width */
      height: auto; /* Maintain the aspect ratio */
      max-width: 100%; /* Ensure the image does not exceed its original size */
      display: block; /* Remove any extra space below the image */
    }
  
    .projects-page-body {
      display: none;
      /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    }
  }
  